@import "tailwindcss";
@tailwind utilities;

@layer components {
  .navlink {
    @apply relative text-xl w-fit block;
    position: relative;
  }

  .navlink::after {
    content: '';
    @apply block absolute h-[3px] bg-red-500 w-full scale-x-0 transition-transform duration-300 origin-left;
  }

  .navlink:hover::after {
    @apply scale-x-100;
  }
  .icon-style{
    @apply fill-white text-base font-semibold underline underline-offset-4
  }
  html {
    scroll-behavior: smooth;
  }
  
}
